@import 'global';

.wrapper {
  border: 2px $core-border-color solid;
  padding: 20px;
  width: 50%;
  position: relative;

  & > button {
    position: absolute;
    top: 0;
    right: 0;
    width:40px;
  }
}

.colContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & > div {
    flex: 1;

    & > h3 {
      margin-top: 0;
    }
  }

  & > div:not(:first-of-type) {
    margin-left: 10px;
  }
}
