.colContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & > div {
    flex: 1;

    & > h3 {
      margin-top: 0;
    }
  }

  & > div:not(:first-of-type) {
    margin-left: 10px;
  }
}
