@import 'colors';

.button {
  background-color: $brand-primary;
  color: $core-light-color;
  min-height: 42px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin: 0;
  transition: background-color 100ms ease-in-out, transform 100ms ease-in-out;

  &:hover:enabled {
    transform: scaleX(1.1) scaleY(1.1);
    background-color: color($brand-primary b(15%));
  }

  &:disabled {
    background-color: $control-color-disabled;
    cursor: not-allowed;
  }
}

.link {
  background-color: transparent;
  color: $core-gray-extra-dark;
  min-height: 44px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0 10px;
  margin: 0;
  transition: color 100ms ease-in-out, background-color 100ms ease-in-out;

  &:hover {
    color: $brand-primary;
    background-color: color($core-light-color b(5%));
  }

  &:disabled {
    color: $control-color-disabled;
    cursor: not-allowed;
  }
}

$buttonSize: 32px;

.round {
  border-radius: 50%;
  background-color: $brand-primary;
  color: $core-light-color;
  height: $buttonSize;
  width: $buttonSize;
  line-height: $buttonSize;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 5px;
  display: inline-block;
  text-align: center;
  transition: background-color 100ms ease-in-out, transform 100ms ease-in-out;

  & > div {
    font-size: 1.8em;
    margin-top: -5px;
  }

  &:hover {
    background-color: color($brand-primary b(10%));
    transform: scaleX(1.2) scaleY(1.2);
  }

  &:disabled {
    background-color: $control-color-disabled;
    cursor: not-allowed;
  }

  &:focus {
    outline: 0;
  }
}

.empty {
  background-color: $control-color-empty;
  color: $core-light-color;

  &:hover:enabled {
    background-color: color($control-color-success b(15%));
  }
}

.primary {
  background-color: $brand-primary;
  color: $core-light-color;

  &:hover:enabled {
    background-color: color($brand-primary b(15%));
  }
}

.success, :disabled.selected {
  background-color: $control-color-success;
  color: $core-light-color;

  &:hover:enabled {
    background-color: color($control-color-success b(15%));
  }
}

.danger {
  background-color: $control-color-danger;
  color: $core-light-color;

  &:hover:enabled {
    background-color: color($control-color-danger b(10%));
  }
}

.selected {
  cursor: not-allowed;
}
