@import 'global';

.buttonRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
}

.wrapper {
  & h3 {
    text-align: center;

    & span {
      color: $brand-primary;
      margin-right: 10px;
    }
  }
}

.control {
  font-size: 1.5em;
  color: $brand-secondary;
}

.midi {
  border: 2px solid $core-border-color;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  & > div {
    align-self: stretch;
  }
}
