@import 'global';

.container {
  margin: 20px 0;
  padding: 20px;
  border: 2px $core-border-color solid;
  background: $core-gray-extra-light;
  width: 50%;
}

.container.active {
  background: $core-light-color;
}

.container.full {
  width: 100%;
}

.container.tight {
  padding: 5px;

  & > div > button {
    margin: 0;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & > h3 {
    margin: 0;
  }

  & > button {
    margin-top: -10px;
    margin-right: -10px;
  }
}
