@import 'global';

.wrapper {
  margin: 20px 0;
  padding: 20px;
  border: 2px $core-border-color solid;
  background: $core-gray-extra-light;
  width: 50%;
}

.wrapper.active {
  background: $core-light-color;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & h3 {
    margin: 0;
  }
}
