@import 'global';

.key {
  height: 100%;
  width: 20px;
  display: inline-block;
  border: 1px solid $core-black;
  border-radius: 0 0 2px 2px;
  background: $core-light-color;
  color: $core-black;
  position: relative;
  vertical-align: top;
  margin-right: -1px;
}

.key.on {
  background: $control-color-success;
}

.ebony {
  background: $core-black;
  color: $core-light-color;
  margin-right: -8px;
  margin-left: -8px;
  height: 60%;
  width: 16px;
  z-index: 2;
}

.ebony.on {
  background: color($control-color-success b(30%));
}
