@import "./variables.css";

html {
  box-sizing: border-box;

  /* sets rem value */
  font-size: $html-font-size;
}

body {
  font-size: $body-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li {
  list-style: none;
}

:global {
  & .container {
    padding: 0 30px;
    max-width: 1480px;
    margin: 0 auto;
  }
}
