@import 'global';

$size: 28px;
$borderSize: 2px;
$transTime: 200ms;

.switch {
  border: $borderSize $core-border-color solid;
  border-radius: $size;
  width: calc(2 * $size);
  min-width: calc(2 * $size);
  height: $size;
  transition: background $transTime ease-in;
  display: inline-block;
  cursor: pointer;

  & > div {
    border-radius: 50%;
    border: $borderSize $core-border-color solid;
    background: $core-light-color;
    width: $size;
    height: $size;
    margin-top: -$borderSize;
    margin-left: -$borderSize;
    transition: background $transTime ease-in-out, transform $transTime ease-in-out;
  }
}

.switch.on {
  background: $control-color-success;

  & > div {
    transform: translateX($size);
    transition: transform $transTime ease-in;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  & > h3 {
    margin-right: 30px;
    color: $body-font-light-color;
    transition: color $transTime ease-in;
  }
}

.wrapper.on {
  & > h3 {
    color: $body-font-color;
    transition: color $transTime ease-in;
  }
}
