@import 'global';

$handleSize: 30px;

.wrapper {
  margin: 20px 0;
}

.slider {
  width: 100%;
  height: 2px;
  border: 1px solid $core-gray-semidark;
  margin-bottom: 15px;
}

.handle {
  font-size: 0.9em;
  line-height: $handleSize;
  text-align: center;
  background: $core-gray-extra-dark;
  color: $core-light-color;
  cursor: pointer;
  width: $handleSize;
  border-radius: 50%;
  height: $handleSize;
  margin-top: -calc($handleSize/2);

  & :hover, & :active {
    background: $control-color-info;
    border-radius: 50%;
    transform: scaleX(1.2) scaleY(1.2);
    transition: transform 0.2s ease-in, background 0.2s ease-in;
  }
}
