.slider {
  width: 100%;
  max-width: 500px;
  height: 2px;
  border: 1px solid grey;
  margin-bottom: 15px;
}

$handleSize: 20px;

.handle {
  font-size: 0.7em;
  line-height: $handleSize;
  text-align: center;
  background-color: #232323;
  color: white;
  cursor: pointer;
  width: $handleSize;
  /*border-radius: 50%;*/
  height: $handleSize;
  margin-top: -10px;
}
