@import 'colors';

.icon {
  cursor: pointer;
  display: inline-block;
  margin: 0 2px;

  &:hover {
    & g {
      stroke: $control-color-danger;
    }
  }
}


.icon.active {
  & g {
    stroke: $control-color;
  }
}

.icon.disabled {
  cursor: not-allowed;

  & g {
    stroke: $control-color-disabled;
  }

  &:hover {
    & g {
      stroke: $control-color-disabled;
    }
  }
}

.fill {
  cursor: pointer;

  &:hover {
    & g {
      fill: $control-color-danger;
      stroke: transparent;
    }
  }
}

.fill.active {
  & g {
    fill: $control-color-warning;
  }
}

.fill.disabled {
  cursor: not-allowed;

  & g {
    fill: $control-color-disabled;
    stroke: transparent;
  }

  &:hover {
    & g {
      fill: $control-color-disabled;
      stroke: transparent;
    }
  }
}

.down {
  & > svg {
    transform: rotate(90deg);
  }
}

.left {
  & > svg {
    transform: rotate(180deg);
  }
}

.up {
  & > svg {
    transform: rotate(-90deg);
  }
}
