@import 'global.css';

.wrapper {
  margin-top: 30px;
}

.label {
  margin-bottom: 0.5rem;

  /* def in typography.css */
  composes: subtext;

  & span {
    font-size: 2em;
    position: absolute;
    line-height: 0.9em;
    margin-left: 0.2em;
  }
}

.invalid {
  color: $control-color-danger;
}
